@font-face {
    font-family: "Digital7 Mono";
    src: url("webfonts/Digital7Mono.woff2") format("woff2");
}  

a {
    cursor: pointer;
}

.fa-battery-empty {
    color: red;
}

.fa-battery-bolt {
    color: lime;
}

body { 
    background-color: #000;
    color: #fff;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 16px;
}

#statuses {
    display: grid;
    grid-template-columns: 60px auto;
    user-select: none;
}

#statuses :nth-child(2) {
    color: pink;
}

#statuses :nth-child(6) {
    color: skyblue;
}

#phone {
    background: url("images/iphone8.png") no-repeat;
    background-size: contain;
    height: 1024px;
    width: 504px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    user-select: none;
}

#phone.screen-off #viewport {
    opacity: 0;
}

#phone #viewport {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    position: absolute;
    top: 126px;
    left: 35px;
    bottom: 126px;
    right: 35px;
}

#home-button {
    position: absolute;
    bottom: 25px;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    left: 50%;
    transform: translateX(-45px);
    cursor: pointer;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#notification-tray {
    margin-top: 20px;
}

.notification {
    background-color: var(--bs-light);
    color: var(--bs-dark);
    display: flex;
    align-items: center;
    border-radius: .3rem;
    padding: 10px 10px;
    max-height: 75px;
    margin: 10px 0;
}

.notification:first-child {
    margin-top: 0;
}

.notification:last-child {
    margin-bottom: 0;
}

.notification-icon {
    border-radius: 50%;
    font-size: 28px;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    position: relative;
    text-align: center;
    margin-right: 10px;
}

.notification-icon i {
    vertical-align: middle;
}

.icon-light {
    color: #fff;
}

.icon-dark {
    color: #000;
}

[data-app="messages"] .app-icon, [data-app="messages"] .notification-icon,
[data-app="phone"] .app-icon, [data-app="phone"] .notification-icon {
    background-color: lime;
}

[data-app="mail"] .app-icon, [data-app="mail"] .notification-icon {
    background-color: #0f78d4;
}

[data-app="whiteboard"] .app-icon, [data-app="whiteboard"] .notification-icon {
    background-color: #26d7fd;
}

[data-app="planner"] .app-icon, [data-app="planner"] .notification-icon {
    background-color: #eee;
}

[data-app="games"] .app-icon, [data-app="games"] .notification-icon {
    background-color: #000;
}

.notification .notification-body {
    overflow: hidden;
}

.notification .notification-title {
    font-weight: 500;
}

.notification .notification-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.app-button {
    position: relative;
    cursor: pointer;
}

.app-button .app-icon {
    border-radius: 15px;
    font-size: 45px;
    width: 75px;
    height: 75px;
    position: relative;
    text-align: center;
}

.app-icon i {
    vertical-align: middle;
}

.app-button .app-notification-badge {
    position: absolute;
    right: 2.5px;
    top: 15px;
    background-color: red;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    text-align: center;
}

.app-button .app-notification-badge[data-count="0"] {
    display: none;
}

.app-button .app-notification-badge .badge-text {
    display: inline;
    vertical-align: middle;
}

#apps, #homescreen, .app {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@keyframes app-hide {
    0% {
        z-index: 997;
        opacity: 1;
        transform: scale(1);
    }
    99.99% {
        opacity: 0;
        transform: scale(0);
        z-index: 997;
    }
    100% {
        opacity: 0;
        transform: scale(0);
        z-index: -997;
    }
}

@keyframes app-show {
    0% {
        z-index: 997;
        opacity: 0;
        transform: scale(0);
    }
    99.99% {
        opacity: 1;
        transform: scale(1);
        z-index: 997;
    }
    100% {
        opacity: 1;
        transform: scale(1);
        z-index: 997;
    }
}

.app:not(.visible) {
    animation: app-hide 0.2s 1 forwards;
}

.app.visible {
    animation: app-show 0.2s 1 forwards;
}

.app.visible.hide-statusbar {
    z-index: 999 !important;
}

#homescreen {
    padding-top: 33px;
}

.app, #homescreen {
    transition: all 0.2s;
    overflow: hidden;
}

.start-of-game {
    background: #000 !important;
}

.start-of-game .app:not(.visible), .start-of-game #alarm span, .start-of-game #statusbar {
    display: none !important;
    animation-play-state: running !important;
}

#apps.app-visible + #homescreen {
    opacity: 0;
}

#alarm {
    background-color: #000;
    transform: scale(1) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#alarm span {
    font-size: 100px;
    font-family: "Digital7 Mono";
    color: red;
    text-align: center;
    margin-bottom: 300px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    49.99% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    99.99% {
        opacity: 1;
    }
}

#start-game {
    background-color: #000;
    transform: scale(1) !important;
}

#statusbar {
    z-index: 998;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.2s all;
    font-weight: 500;
}

#statusbar-middle {
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

/* -- Standard Apps -- */

.app[id^="app-"] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app-messages {
    background-color: #fff;
}

#app-messages #messages-header {
    background-color: #efefef;
    width: 100%;
    padding: 43px 0 10px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#messages-photo-frame {
    font-size: 2em;
    border-radius: 100%;
    background-color: #334a5f;
    width: 1.6em;
    height: 1.6em;
    text-align: center;
    color: #5088bd;
    line-height: 2;
    clip-path: circle(21px at center);
}

#messages-name {
    font-size: 1.2em;
}

#messages-history {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 20px 10px;
    overflow-x: hidden;
    width: 100%;
}

.message {
    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 75%;
    padding: 0.5rem .875rem;
    position: relative;
    word-wrap: break-word;
    font-size: 1.2em;
}

.message::before, .message::after {
    bottom: 0;
    content: "";
    height: 19px;
    position: absolute;
}

.message.from:before {
    border-bottom-right-radius: 0.8rem 0.7rem;
    border-left: 1rem solid #e5e5ea;
    left: -0.35rem;
}
  
.message.from::after {
    background-color: #fff;
    border-bottom-right-radius: 0.5rem;
    left: 20px;
    transform: translate(-30px, -2px);
    width: 10px;
}

.message.from {
    background-color: #e5e5ea;
    color: #000;
    border-bottom-left-radius: 0;
    align-self: flex-start;
}

.message.to::before {
    border-bottom-left-radius: 0.8rem 0.7rem;
    border-right: 1rem solid #0a80fe;
    right: -0.35rem;
}

.message.to::after {
    background-color: #fff;
    border-bottom-left-radius: 0.5rem;
    right: -40px;
    transform:translate(-30px, -2px);
    width: 10px;
}

.message.to {
    background-color: #0a80fe;
    color: #fff;
    align-self: flex-end;
    border-bottom-right-radius: 0;
}

.message {
    margin-bottom: 0.25rem;
}

.message.to + .message.from, .message.from + .message.to {
    margin-top: 0.75rem;
}

#messages-compose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    width: 100%;
}

#messages-compose .compose-choice {
    font-size: 1.2em;
    text-align: center;
    color: #000;
    width: 100%;
    padding: 15px 0 0;
    cursor: pointer;
}

#messages-compose .compose-choice .inner {
    width: 92%;
    margin: 0 4%;
    border-bottom: 1px solid #ccc;
    display: block;
    padding-bottom: 15px;
}

#messages-compose .compose-choice:last-child .inner {
    border-bottom: none;
}

#messages-compose .compose-choice:not(.choice-disabled):hover {
    background-color: #ddd;
}

#messages-compose .compose-choice.choice-disabled {
    filter: contrast(0);
    user-select: none;
    cursor: not-allowed;
    pointer-events: none;
}

#messages-history .info-message {
    text-align: center;
    color: #666;
    margin: 15px 0;
}

#messages-history .messages-spacer {
    margin-top: 50px;
}

#messages-history .info-message + .messages-spacer {
    margin-top: 30px;
}

#viewport[data-active="messages"] #statusbar {
    color: #000;
}

/* -- Planner app -- */

#app-planner {
    background-color: #eee;
    color: #000;
    padding-top: 50px;
}

#app-planner #planner-header {
    font-weight: 800;
    font-size: 40px;
    text-align: left;
    width: 100%;
    padding: 0 30px;
}

#planner-tasks {
    margin-top: 30px;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.planner-task {
    width: 100%;
    padding-left: 50px;
    padding-right: 20px;
    position: relative;
    padding: 5px 20px 5px 50px;
    order: 1;
}

.planner-task:not(.completed):hover {
    background-color: #ccc;
    cursor: pointer;
}

.planner-task-name {
    font-weight: 500;
}

.planner-task-due {
    width: 100%;
    display: block;
}

.planner-task-status {
    color: red;
    font-weight: 500;
    position: absolute;
    top: 50%;
    transform: translateY(-12px);
    right: 20px;
}

.planner-task::before {
    border: 1px solid #333;
    border-radius: 100%;
    content: ' ';
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-10px);
    width: 20px;
    height: 20px;
}

.planner-task.completed {
    filter: contrast(0.2);
    order: 3;
}

.planner-task.overdue {
    filter: contrast(0.2);
    order: 5;
}

.planner-task.completed::after, .planner-task.overdue::after {
    height: 1.5px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 15px;
    right: 15px;
    content: ' ';
}

.planner-tasks-header {
    color: #444;
    padding: 20px 15px 5px;
    display: flex;
    width: 100%;
    text-transform: uppercase;
    font-size: 0.9em;
    align-items: center;
}

.planner-tasks-header::after {
    flex-grow: 1;
    content: " ";
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #fff; /* Prevent zoom anti-aliasing deleting this line*/
    margin-left: 10px;
}

#viewport[data-active="planner"] #statusbar {
    color: #000;
}

/*-- Mail App --*/

#app-mail {
    background-color: #fff;
    color: #000;
    overflow: hidden;
}

#mail-inbox-header, #mail-message-header {
    background-color: #0f78d4;
    padding: 53px 30px 20px;
    color: #fff;
    width: 100%;
    font-size: 1.5em;
    font-weight: 500;
}

#app-mail[data-screen="message"] #mail-message-screen {
    transform: translateY(0);
}

#mail-inbox-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 996;
    display: flex;
    flex-direction: column;
}

#mail-inbox-messages {
    flex-grow: 1;
}

.mail-inbox-message {
    padding: 10px 30px 10px 40px;
    max-height: 100px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.mail-inbox-message:not(.read) {
    font-weight: 500;
}

.mail-inbox-message:not(.read)::before {
    content: " ";
    position: absolute;
    width: 12.5px;
    height: 12.5px;
    top: 50%;
    left: 12.5px;
    transform: translateY(-5px);
    background-color: #0f78d4;
    border-radius: 100%;
}

.mail-inbox-message:hover {
    background-color: #ddd;
}

.mail-inbox-message-header {
    display: flex;
    font-size: 1.2em;
}

.mail-inbox-message-title {
    flex-grow: 1;
}

.mail-inbox-message-preview {
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 48px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}

#mail-message-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    z-index: 997;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s;
}

#mail-message-content-header {
    margin: 20px 20px 0;
    padding: 0 0 20px;
    border-bottom: 1px solid #666;
}

#mail-message-title {
    font-weight: 800;
    font-size: 2em;
}

#mail-message-info {
    font-size: 1.1em;
    font-weight: 500;
}

#mail-message-content {
    margin: 20px 20px 0;
    padding-bottom: 20px;
    font-size: 1.1em;
    overflow: auto;
    flex-grow: 1;
}

/*-- time spending apps --*/

.spend-app {
    background-color: #000d;
    justify-content: center;
}

.choice {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    padding: 10px 0;
    font-weight: 500;
}

.choice:first-of-type {
    margin-top: 10px;
}

.choice:last-of-type {
    margin-bottom: 10px;
}

.choice:hover {
    background-color: #ccc;
}

.choice.dark:hover {
    background-color: #333;
}

.stats-delta {
    width: 100%;
    justify-content: center;
    font-weight: 300;
}

.stats-p {
    color: lime;
}

.stats-m {
    color: red;
}

.stats-p::after {
    content: "\2B9D";
}

.stats-m::after {
    content: "\2B9F";
}

.prompt-text {
    font-size: 2.5em;
    text-align: center;
}

/*-- end of day screen --*/

#end-of-day {
    background-color: #000;
    transform: scale(1) !important;
    color: #fff;
    justify-content: center;
    text-align: center;
}

#eod-title {
    font-size: 3em;
    font-weight: 800;
}

#eod-choices {
    margin-top: 10px;
}

#eod-choices > span {
    font-size: 1.5em;
    font-weight: 500;
}

#eod-choices .choice:first-of-type {
    margin-top: 80px;
}

#charging {
    justify-content: center;
    background-color: #000;
    transform: scale(1) !important;
}

#charging i {
    left: 50%;
    transform: translateX(-50%);
}

.fa-layers {
    position: relative;
}

.fa-layers i {
    position: absolute;
    text-align: center;
    width: 1.25em;
}

/*-- gameover apps --*/
.gameover-screen {
    background-color: #000;
    color: #fff;
}

.gameover-screen.visible {
    opacity: 1 !important;
    transform: zoom(1) !important;
}

.gameover-screen.visible .content {
    animation: gameover-show 2s forwards;
    display: flex;
    flex-direction: column;
    height: 100%;
}

@keyframes gameover-show {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.gameover-title {
    text-align: center;
    font-size: 4em;
    font-weight: 800;
}

.gameover-subtitle {
    text-align: center;
    font-weight: 800;
    font-size: 2em;
}

.gameover-summary {
    margin: 50px 30px 0;
    flex-grow: 1;
    overflow: auto;
    padding-bottom: 50px;
}

.gameover-summary::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: " ";
    height: 50px;
    background-image: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
